@model IEnumerable<Albums>
<h1>Live Shows</h1>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordLable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNew)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFeatured)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealizeDate)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Musician)
            </th>*@
         
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecordLable)

                    </td>
                    <td>
                        <img src="@Html.DisplayFor(model=> item.AlbumPhoto)" width="100" />
                    </td>
                    <td>
                    <input disabled="disabled" checked="@item.IsNew" type="checkbox" />


                    </td>
                    <td>
                    <input disabled="disabled" checked="@item.IsFeatured" type="checkbox" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RealizeDate)
                    </td>
              @*  <td>
                    @Html.DisplayFor(modelItem => item.Musician.Name)
                </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </td>
                </tr>
        }
    </tbody>


</table>
