@using Entites.Concrete

@model Slider

@{
    ViewData["Title"] = "Details";
}

<h1>Detail</h1>

<div>
    <h4>Live Show</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubHeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubHeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture1)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Picture1)" width="100" />

        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture2)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Picture2)" width="100" />

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture3)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Picture3)" width="100" />

        </dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
